<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="edu.eci.pdsw.samples.dao.mybatis.mappers.ClaseMapper">
    <resultMap type='Clase' id='ClaseResult' >
        <id property='id' column='id'/>
        <result property='fecha' column='fecha'/>
        <result property='horaFin' column='horaFin'/>
        <result property='rangoHoras' column='rangoHoras'/>
        <result property= 'idMateria' column='mater_perio_materia_id'/>
        <result property= 'cohorte' column='mater_perio_cohorte'/>
    </resultMap>
</mapper>