<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="edu.eci.pdsw.samples.dao.mybatis.mappers.MateriaMapper">
    <resultMap type='Materia' id='MateriaResult'>
        <id property='codigo' column='codigo'/>
        <result property='nombre' column='nombre'/>
        <result property='cohorte' column='cohorte'/>
        <result property='numClases' column='totClases'/>
        <result property='numHoras' column='totHoras'/>
        <association property="profesor" javaType="Profesor" resultMap='edu.eci.pdsw.sample.dao.mybatis.mappers.ProfesorMapper.ProfesorResult' columnPrefix='profesor_'></association>
        <association property="asignatura" javaType="Asignatura" resultMap='edu.eci.pdsw.sample.dao.mybatis.mappers.AsignaturaMapper.AsignaturaResult' columnPrefix='asignatura_'></association>
        <association property="clases" javaType="Clase" resultMap='edu.eci.pdsw.samples.dao.mybatis.mappers.ClaseMapper.ClaseResult' columnPrefix='clase_'></association>
    </resultMap>
    <select parameterType="map" id="consultarMateriasClase" resultMap="MateriaResult">
        select 
            M.codigo,
            M.nombre,
            MP.cohorte,
            c_.totClases,
            c_.totHoras,
            A.id as asignatura_id,
            A.nombre as asignatura_nombre,
            P.id as profesor_id,
            P.nombre as profesor_nombre,
            C.id as clase_id,
            C.fecha as clase_fecha,
            CONCAT(Extract(hour from fecha),' a ',Extract(hour from horaFin)) as clase_rangoHoras
        from 
            Mater_Perio MP
            inner join (select Mater_Perio_Materia_id,Mater_Perio_cohorte,count(*) as totClases, SUM(Extract(hour from horaFin)-Extract(hour from fecha)) as totHoras
                from Clase
                group by Mater_Perio_Materia_id,Mater_Perio_cohorte
                ) c_ on
                    c_.Mater_Perio_Materia_id=MP.Materia_id and 
                    c_.Mater_Perio_cohorte=MP.cohorte,
            Asignatura A,
            Materia M,
            Profesor P,
            Clase C,
            Periodo PE
        WHERE 
            MP.Materia_id=M.codigo and 
            M.Asignatura_id=A.id and
            P.id=MP.Profesor_id and
            C.Mater_Perio_Materia_id=MP.Materia_id and
            C.Mater_Perio_cohorte=MP.cohorte and
            MP.Periodo_id=PE.id and
            PE.ano=#{anio} and
            PE.semestre=#{semestre};
    </select>
</mapper>