<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="edu.eci.pdsw.samples.dao.mybatis.mappers.MateriaMapper">

    <resultMap type='Materia' id='MateriaResult'>
        <id property='codigo' column='codigo'/>
        <result property='nombre' column='nombre'/>
        <result property='cohorte' column='cohorte'/>
        <result property='numClases' column='totClases'/>
        <result property='numHoras' column='totHoras'/>
        <association property="profesor" javaType="Profesor" resultMap='edu.eci.pdsw.samples.dao.mybatis.mappers.ProfesorMapper.ProfesorResult' columnPrefix='profesor_'></association>
        <association property="asignatura" javaType="Asignatura" resultMap='edu.eci.pdsw.samples.dao.mybatis.mappers.AsignaturaMapper.AsignaturaResult' columnPrefix='asignatura_'></association>
        <collection property='clases' ofType='Clase' resultMap='edu.eci.pdsw.samples.dao.mybatis.mappers.ClaseMapper.ClaseResult' columnPrefix='clase_'></collection>
        <collection property='coRequisitos' ofType='Materia' resultMap='edu.eci.pdsw.samples.dao.mybatis.mappers.MateriaReqMapper.MateriaReqResult' columnPrefix='coReq_'></collection>
        <collection property='preRequisitos' ofType='Materia' resultMap='edu.eci.pdsw.samples.dao.mybatis.mappers.MateriaReqMapper.MateriaReqResult' columnPrefix='preReq_'></collection>
    </resultMap>

    <select parameterType="map" id="consultarMateriaConRequisitos" resultMap="MateriaResult">
        (select
            M.codigo as codigo,
            M.nombre as nombre,
            M.descripcion as descripcion,
            M2.codigo as preReq_codigo,
            M2.nombre as preReq_nombre,
            M2.descripcion as preReq_descripcion,
            null as coReq_codigo,
            null as coReq_nombre,
            null as coReq_descripcion
        from
            Materia M,
            Materia M2,
            Prerequisito P
        WHERE
            M.codigo=#{codigo} and
            P.Materia_id=M.codigo and
            P.Programa_id=#{id_p} and
            P.Materia_id_pre=M2.codigo
        )
        UNION
        (select
            M.codigo as codigo,
            M.nombre as nombre,
            M.descripcion as descripcion,
            null as preReq_codigo,
            null as preReq_nombre,
            null as preReq_descripcion,
            M3.codigo as coReq_codigo,
            M3.nombre as coReq_nombre,
            M3.descripcion as coReq_descripcion
        from
            Materia M,
            Materia M3,
            Corequisito C
        WHERE
            M.codigo=#{codigo} and
            (
                C.Materia_id=M.codigo and
                C.Programa_id=#{id_p} and
                C.Materia_id_CO=M3.codigo
            )or(
                C.Materia_id=M3.codigo and
                C.Programa_id=#{id_p} and
                C.Materia_id_CO=M.codigo
            )
	);
    </select>
    
    <select parameterType="map" id="consultarMateriasPorPrograma" resultMap="MateriaResult">
        select
            M.codigo as codigo,
            M.nombre as nombre
        from
            Asignatura A,
            Materia M,
            Asign_Mater AM
        WHERE
            M.codigo=AM.Materia_codigo and
            AM.Asignatura_id=A.id and
            A.posgrado_id=#{id_programa}
        Order By M.nombre asc;
    </select>


    <select parameterType="map" id="consultarMateriasClase" resultMap="MateriaResult">
        select 
            M.codigo as codigo,
            M.nombre as nombre,
            MP.cohorte as cohorte,
            c_.totClases as totClases,
            c_.totHoras as totHoras,
        
            A.id as asignatura_id,
            A.nombre as asignatura_nombre,
        
            P.id as profesor_id,
            P.nombre as profesor_nombre,
        
            C.id as clase_id,
            C.fecha as clase_fecha,
            c.horaFin as clase_horaFin,
            CONCAT(Extract(hour from fecha),' a ',Extract(hour from horaFin)) as clase_rangoHoras,
            C.mater_perio_materia_id as clase_mater_perio_materia_id,
            C.mater_perio_cohorte as clase_mater_perio_cohorte
        from 
            Mater_Perio MP
            inner join (
                select 
                    Mater_Perio_Materia_id,
                    Mater_Perio_cohorte,
                    count(*) as totClases,
                    SUM(Extract(hour from horaFin)-Extract(hour from fecha)) as totHoras
                from Clase
                group by Mater_Perio_Materia_id,Mater_Perio_cohorte
                ) c_ on
                    c_.Mater_Perio_Materia_id=MP.Materia_id and 
                    c_.Mater_Perio_cohorte=MP.cohorte,
            Asignatura A,
            Materia M,
            Profesor P,
            Clase C,
            Periodo PE,
            Asign_Mater AM
        WHERE 
            MP.Materia_id=M.codigo and 

            M.codigo=AM.Materia_codigo and
            AM.Asignatura_id=A.id and

            P.id=MP.Profesor_id and
            C.Mater_Perio_Materia_id=MP.Materia_id and
            C.Mater_Perio_cohorte=MP.cohorte and
            MP.Periodo_id=PE.id and
            PE.ano=#{anio} and
            PE.semestre=#{semestre};
    </select>

</mapper>