<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="edu.eci.pdsw.uppostcool.dao.mybatis.mappers.MateriaReqMapper">
    <resultMap type='Materia' id='MateriaReqResult'>
        <id property='codigo' column='codigo'/>
        <result property='nombre' column='nombre'/>
        <result property='cohorte' column='cohorte'/>
        <result property='numClases' column='totClases'/>
        <result property='numHoras' column='totHoras'/>
    </resultMap>
</mapper>