<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="edu.eci.pdsw.samples.dao.mybatis.mappers.PAcademicoMapper">

    <select parameterType="map" id="consultarPAcademicos" resultMap="PAcademicoResult">
        
        select

        p.id as P_id,
        p.ano as P_ano,
        p.semestre as P_semestre,

        m.codigo as M_materiaID,
        m.nombre as M_nombre,

        mp.cohorte as M_cohorte,

        pr.id as PR_id,
        pr.nombre as PR_nombre,

        a.nombre as as_nombre,
        a.id as as_id,
        a.posgrado_id as as_programaId

        FROM periodo as p, mater_perio as mp, profesor as pr, asignatura as a, materia as m

        WHERE

        p.id = mp.periodo_id AND
        mp.profesor_id = p.id AND
        mp.materia_id = m.codigo AND
        m.asignatura_id = a.id 



         
    </select>
  

    
    <resultMap type='PeriodoAcademico' id='PAcademicoResult' >
        <id property='id' column='id'/>
        <result property='ano' column='ano'/>
        <result property='semestre' column='semestre'/>  
        <collection property='materias' ofType='Materia' resultMap='edu.eci.pdsw.sample.dao.mybatis.mappers.MateriaMapper.MateriaResult' columnPrefix="M_"></collection>
    </resultMap>       
             

                         	
</mapper>