<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="edu.eci.pdsw.samples.dao.mybatis.mappers.PAcademicoMapper">

    <select parameterType="map" id="consultarPAcademicos" resultMap="PAcademicoResult">
        select id, ano, semestre
        FROM Periodo 
   
        
    </select>
  

    
    <resultMap type='PeriodoAcademico' id='PAcademicoResult' >
        <id property='id' column='id'/>
        <result property='ano' column='ano'/>
        <result property='semestre' column='semestre'/>  
        <collection property='materias' ofType='Materia' resultMap='edu.eci.pdsw.sample.dao.mybatis.mappers.MateriaMapper.MateriaResult'></collection>
    </resultMap>       
             

                           	
</mapper>